* {
	box-sizing: border-box;
	margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
html {
	scroll-behavior: smooth;
}
/*


	Section: Project preview pop-up windows


*/
.preview {
	z-index: 50;
	display: none;
	background-color: black;
	position: absolute;
	border: .5px solid white;
	height: 400px;
	width: 800px;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	animation-name: displayPreview;
	animation-duration: 0.5s;
	box-shadow: 0 0 0 500vh rgba(0, 0, 0, 0.8);
}
#test1 {
	background-color: red;
	top: 150vh;
}
#test2 {
	background-color: blue;
	top: 250vh;
}
#test3 {
	background-color: green;
	top: 350vh;
}
@keyframes displayPreview {
	from {height: 20px;}
	to {height: 400px;}
}
/*


	Section: header
	Contains: menu, author;


*/
#header {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	width: 100%;
	height: 48px;
	background-color: black;
	color: white;
	position: fixed;
	z-index: 100;
}
#menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 48px;
	align-items: center;
}
#me {
	margin: 0px 18px;
	font-size: 30px;
	overflow: visible;
	text-shadow: 1px 1px 1px black;
    font-family: 'Condiment', cursive;
}
/*


	Section: Row
	Contains: content, image;


*/
.row {
	display: grid;
	grid-template-columns: 50% 50%;
	height: 100%;
	width: 100%;
	align-items: center;
	position: relative;
}
.content {
	margin: 0 15%;
	transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.is-hidden.content {
	transform: translateX(-2rem);
	opacity: 0;
}
.is-hidden.content.right {
	transform: translateX(2rem);
}
.image {
	transition: opacity .5s ease-in-out;
}
.is-hidden.image {
	opacity: 0;
}
.right {
	justify-self: right;
}
img {
	width: 48vw;
	height: 100vh;
}
.row .fas {
	color: #8fdbff;
	border: none;
	font-size: 48px;
	position: absolute;
	background: transparent;
	z-index: 6;
}
.row .fas:hover {
	transform: scale(1.25);
}
.fa-chevron-right {
	right: 8px;
}
.fa-chevron-left {
	left: 8px;
}
/*


	Section: default fonts and formatting


*/
a {
	cursor: pointer;
	text-decoration: none;
	color: black;
	padding: 4px 9px;
	background: white;
	border: .5px solid black;
	font-size: 0.8rem;
	letter-spacing: 0.125em;
	font-weight: 400;
}
a:hover {
	color: white;
	background-color: black;
}
ul {
	list-style-type: none;
}
h1 {
	font-size: 3.5rem;
	letter-spacing: -0.05em;
	font-weight: 300;
}
p {
	margin: 24px 0;
	size: 16px;
	font-weight: 300;
}